<ol class="breadcrumb">
	<li><a href="#/">All cars</a></li>
	<li ng-repeat="p in main.pag"><span ng-bind="p.val+1"></span></li>
</ol>
<form>
	<h3>Buy a {{main.car.name}}</h3>
	<div class="form-group clearfix">
		<div class="col-xs-12 col-sm-3 head">
			Total price
		</div>
		<div class="col-xs-12 col-sm-9 car-name car-price" ng-bind="main.car.price | currency:'USD$'"></div>
	</div>

	<h3>Confirm your order</h3>
	<div class="form-group clearfix">
		<div class="col-xs-12 col-sm-3 head">
			Full Name
		</div>
		<div class="col-xs-12 col-sm-9">
			<input type="text" ng-model="main.user.name" class="form-control" readonly />
		</div>
	</div>
	<div class="form-group clearfix">
		<div class="col-xs-12 col-sm-3 head">
			Address
		</div>
		<div class="col-xs-12 col-sm-9">
			<input type="text" ng-model="main.user.address" class="form-control" readonly />
		</div>
	</div>
	<div class="form-group clearfix">
		<div class="col-xs-12 col-sm-3 head">
			Email
		</div>
		<div class="col-xs-12 col-sm-9">
			<input type="email" ng-model="main.user.email" class="form-control" readonly />
		</div>
	</div>
	<div class="form-group clearfix">
		<div class="col-xs-12 col-sm-3 head">
			Phone number
		</div>
		<div class="col-xs-12 col-sm-9">
			<input type="text" ng-model="main.user.phone" class="form-control" readonly />
		</div>
	</div>
	<div class="form-group clearfix">
		<div class="col-xs-12 col-sm-3 head">
			Credit card number
		</div>
		<div class="col-xs-12 col-sm-9">
			<input type="text" ng-model="main.user.card" class="form-control" readonly />
		</div>
	</div>
	<a class="btn btn-default" href="#/order/{{main.car.id}}">&lt;- Go Back</a>
	<button class="btn btn-info">BUY</button>
</form>
